body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(../img/cartographer.png);
}

#Wrapper {
    width: 960px;
    height: 768px;
    margin: 0 auto;

    background: #DDE;
    border-top: 3px solid #0DD;
    border-bottom: 3px solid #0DD;
    border-radius: 18px;
}

header{
	width: inherit;
	height: 75px;
}

#Menu {
    max-height: 75px;
    width: 100%;
}

#Menu-Element {
    width: 192px;
    height: 75px;
}
